canvas {
    margin: 20px;
    border: 1px solid black;
    /* background-image: url("../images/pacific.png"); */
    background-image: url("../images/long-lat-pacific-map.png");
    border-radius: 5px;
    background-repeat: no-repeat;
    background-position: -20px;
}

#right-col {
    position: relative;
    top: -565px;
    left: -200px;
    margin: 10px 0 10px 10px;
    width: 410px!important;
    max-width: 410px;
}

#city {
    margin-left: auto;
    margin-right: auto;
}

#hurricane-info {
    left: -420px;
    height: 300px;
    width: 800px !important;
    max-width: 800px;
}

#controls {
    margin-top: 5px;
    top: -250px;
    left: 145px;
    width: 410px !important;
    max-width: 410px;
}

#city-card {
    margin-top: 15px;
    top: -5px;
    height: 291px;
}

#hurricane-info-leftcol {
    margin-top: 20px;
    margin-left: 10px;
    line-height: 2rem;
}

#hurricane-info-rightcol {
    scroll-behavior: auto;
}

td {
    padding-left: 5px;
    padding-right: 5px;
}

span {
    display: inline-block;
    width: 50px;
    text-align: center;
}

div.col {
    height: 0;
}

#hurr-activity {
    width: 380px;
    height: 180px;
    overflow: auto;
    border: 1px grey solid;
    text-align: center;
    overflow-y: hidden !important;
}

h2 {
    font-size: 1.25rem!important;
}

#info-section {
    margin-top: 50px;
    margin-left: 20px;
    width: 60%;
    border: solid #dfdfdf 1px;
    border-radius: 5px;
    padding: 1.25rem;
}

.info-section-element {
    padding-top: 10px;
}

body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important;
    width: 100%;
    min-width: 1899px;
}